<ion-header>
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="step === 0">
  <ion-text color="dark">
    <h1 style="font-style: comfortaa;color: #746A64; margin-left: 50%; margin-top: 25%;" >Registro</h1>
  </ion-text>

  <ion-text color="dark">
 
  <ion-item id="item1">
    <ion-label style="font-style: comfortaa;color: #746A64;" position="stacked">Ingresa email:</ion-label>
    <ion-input placeholder="jane@example.com"></ion-input>
  </ion-item>

  </ion-text>
<br>

<ion-item id="item2">
  <ion-label style="font-style: comfortaa;color: #746A64;" position="stacked">Ingresa contraseña:</ion-label>
  <ion-input type="password" placeholder="******"></ion-input>
</ion-item>
<br>

<ion-item id="item2">
  <ion-label style="font-style: comfortaa;color: #746A64;" position="stacked">Repetir contraseña:</ion-label>
  <ion-input type="password" placeholder="******"></ion-input>
</ion-item>

 <div class="row"></div>
 <br>
</div>

<div style="margin-left: 50%;margin-top: 20%;" *ngIf="step === 1">
  <ion-text color="dark">
    <h1 style="font-style: comfortaa;color: #746A64; margin-top: 25%;" >¿Cuál es tu rol?</h1>
  </ion-text>
  <img style="width: 150px;" src="assets/img/paciente.png">
  <ion-text color="dark">
    <h5 style="font-style: comfortaa;color: #746A64;">Soy un paciente</h5>
  </ion-text>
  <br>

  <img style="width: 150px;" src="assets/img/profesional.png">
  <ion-text color="dark">
    <h5 style="font-style: comfortaa;color: #746A64;">Soy un profesional</h5>
  </ion-text>
</div>

<br>
<ion-button expand="block"  color="primary" (click)="nextStep();">
  <ion-label style="color: #fff;">
  Siguiente
</ion-label>
</ion-button>


  



</ion-content>
