<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h1 style="font-style: comfortaa;color: #746A64; margin-left: 5%; margin-top: 25%;" >Iniciar Sesión</h1>
  </ion-text>

  <ion-text color="dark">
 
  <ion-item id="item1">
    <ion-label style="font-style: comfortaa;color: #746A64;" position="stacked">Ingresa email:</ion-label>
    <ion-input placeholder="jane@example.com"></ion-input>
  </ion-item>

  </ion-text>
<br>

<ion-item id="item2">
  <ion-label style="font-style: comfortaa;color: #746A64;" position="stacked">Ingresa contraseña:</ion-label>
  <ion-input type="password" placeholder="******"></ion-input>
</ion-item>
 <div class="row"></div>
 <br>

<ion-button expand="block"  color="primary" [routerLink]="['/main']">
  <ion-label style="color: #fff;">
  Iniciar Sesión
</ion-label>
</ion-button>



</ion-content>
